<launch>

  <!-- Launch bf control driver node -->
  <node pkg="bf_driver" type="bf_driver" name="bf_driver" output="screen">
    <rosparam command="load" file="$(find bf_driver)/config/default.yaml" />
    <remap from="odom" to="odom_raw" />
  </node>

  <!-- Robot tf x y z yaw pitch roll-->
  <node pkg="tf" type="static_transform_publisher" name="laser" args="0.25 0 0.07 0 0 3.14159265359 base_link hokuyo_laser_frame 10" />
  <node pkg="tf" type="static_transform_publisher" name="imu" args="0.0 0 0.205 0 0 0 base_link imu 10" />
  <node pkg="tf" type="static_transform_publisher" name="base_link" args="0 0 0.02 0 0 0 base_footprint base_link 10" />

  <!--<node pkg="laser_scan_matcher" type="laser_scan_matcher_node" name="laser_scan_matcher_node" output="screen">

    <param name="fixed_frame" value = "odom"/>
    <param name="base_frame" value="base_footprint"/>
    <param name="max_iterations" value="10"/>

  </node>-->  	

  <!-- Launch hokuyo driver -->
  <include file="$(find urg_node)/launch/urg_lidar.launch" />

  <!-- Launch xsens driver -->
  <include file="$(find xsens_driver)/launch/xsens_driver.launch" />

  <!-- Launch localization -->
  <include file="$(find bf_localization)/launch/nst.launch" />

</launch>

